{% extends "base_auth.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
 <div class="row">
    <div class="col-md-4">
     
    </div>
    <div class="col-md-4">
      
        <div class="card mt-5">
            

            <div class="card-body">
                <div class="card-title py-3">
                    <h4>Register for a free account</h4>
                </div>

                

                <form action="" method="post">
                    {% csrf_token %}
                    {% include 'partials/_messages.html' %}
                    <div class="form-group my-3">
                        <input type="text" 
                              name="username"
                              placeholder="Username" 
                              id="UsernameField" 
                              class="form-control"
                              value="{{fieldValues.username}}" />
                      </div> 
                      <div class="invalid_feedback  invalid-feedback" style="display: block">
                         
                      </div>
                      <p class="text-sm text-success usernameSuccessOutput" ></p>
                  <div class="form-group my-3">
                    <input type="email" 
                          name="email" 
                          placeholder="Email"
                          id="emailField" 
                          class="form-control"
                          value="{{fieldValues.email}}">
                  </div>   
                 <div class="emailfeedbackArea  invalid-feedback" style="display: block"></div>

                  <div class="form-group my-3">
                    <input type="password" 
                          name="password" 
                          placeholder="Password"
                          id="passwordField" 
                          class="form-control">
                         
                          <small class="float-end showPasswordToggle" , id="show-hide">SHOW</small>
                  </div> 
                 <br>
                  <button  type="submit" value="Register" class="btn btn-block btn-primary submit-btn  ">  Register </button>   
                </form>
            </div>   
             
        </div>


    </div>
    <div class="col-md-4">
      
    </div>
  </div>
</div>

<script src="{% static 'js/register.js' %}"></script>
{% endblock content %}