{% extends 'base.html' %}
{% load static %}   



{% block content %}
<div class="container-fluid" mt-4 >


  <h1 style=" margin-top: 10px;">Income</h1>
     <div class="row">
        <div class="col-md-10" style="background-color:ivory" >
         <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
           <li class="breadcrumb-item"><a href=""> Income</a></li>
           <li class="breadcrumb-item active" aria-current="page">My Income</li>
          </ol>
         </nav>
        </div>
      <div class="col-md-2">
        <a href="{% url 'add-income'  %}" class="btn btn-primary">Add Income</a>
  </div>
</div>

 <div class="container-fluid">
  {% include 'partials/_messages.html' %}
   
   {% if income.count %}
 <table class="table table-stripped table-hover">
    <thead>
      <tr>
        <th>Amount ({{currency}})</th>
        <th>Source</th>
        <th>Description</th>
        <th>Date</th>
        <th></th>
        

      </tr>
    </thead>
     - <tbody>
      {% for i in income %}
      <tr>
        <td>{{i.amount}}</td>
        <td>{{i.source}}</td>
        <td>{{i.description}}</td>
        <td>{{i.date}}</td>
        <td>
          <a href="" class="btn btn-secondary btn-sm btn-warning">Edit</a>
        </td>
      {% endfor %}
      </tr>
    </tbody>  
  </table> 
  {% endif %}
</div>

</div>
{% endblock content %}

{% comment %} {% url 'edit-income' income.id  %} {% endcomment %}